{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GYM App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Qsn: not support, have to find out -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="{% static 'bootstrap/jquery/jquery.js' %}"> </script>
    <script type ="text/JavaScript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'bootstrap/js/query.js' %}"> </script>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #00000093; border-width:14px;border-color:rgb(88, 88, 44);border-style:groove;border-spacing:30px;border-radius:5px;"class="navbar navbar-light">
        <div class="pos-f-t">
            <div class="dropdown-menu" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <a class="btn btn-outline-warning" href="{% url 'index' %}" >People Workout Images</a>
                <a href="{% url 'sachin' %}" class="btn btn-outline-warning" >Upload Workout Images</a>
                <a href="{% url 'admin:index' %}" class = 'btn btn-outline-warning' >Admin</a>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-yellow">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>    
            </nav>
          </div>
            <a class="btn btn-outline-warning" href="{% url 'home' %}" >Home</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Gallery</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Service</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Schedule</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >OnlineCourse</a>
            <a class="btn btn-outline-warning" href="{% url 'contact' %}" >Contact</a>
            <form action = "search/" method ="GET"  class="form-inline my-2 my-lg-0">
              {% csrf_token %}
              <input class="form-control mr-sm-2" type="text"   name = "hacsac" placeholder="Search..." aria-label="Search">
              <button href="{% url 'khadka' %}" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right bg-dark p-4">
                  <a class="btn btn-outline-warning" href="{% url 'hacker' %}" >Sign Up</a>
                  <a class="btn btn-outline-warning" href="{% url 'freddie' %}" >Login </a>
                  <a class="btn btn-outline-warning" href="{% url 'logout' %}" >Logout </a>
              </div>
            </div>
        
        
            <!-- For Search Button-->
            <!-- <form action = "search/" method ="GET"  class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text"   name = "hacsac" placeholder="Search..." aria-label="Search">
                <button href="{% url 'khadka' %}" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form> -->
        </nav>

        <section class="five">
            <div class="container">
              <form class="" action="home.html" method="post">
                <label for="Name" name=""> Name</label>
                <input style="color: black; background-color: transparent;" type="text" placeholder="Name">
                <label for="Name" name=""> Email</label>
                <input style="color: black; background-color: transparent;" type="text" placeholder="Email">
              </form>
              <br>
              <textarea style="color: black; background-color: transparent;" id:"op" name="comment" rows="20vh" cols="150vh"></textarea>
        
                  <br>
                <br>
                <button style="color:White; background-color: transparent;" type="button" name="button">Send</button>
                <button  style="color:white; background-color: transparent;"type="button" name="button">Reset</button>
              </div>
              <img src="image/call.png" Alt="logo" width="25px" height="30px"/>&nbsp;&nbsp;&nbsp;Contact Us :+977-01-4366239
        
            </figure>
        
            <figure>
              <img src="image/visit.png" Alt="logo" width="25px" height="30px"/>&nbsp;&nbsp;&nbsp;Visit Us : Tamrakar Complex, Pako Sadak,
            </figure>
        
            <figure>
              <img src="image/mail.png" Alt="logo" width="30px" height="30px"/>&nbsp;&nbsp;&nbsp;Mail Us : Sandeshthapa017@gmail.com.np
            </figure>
        
            </section>
            <br>
            <section class="topi">
            <!-- google map -->
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.3231875080064!
                          2d85.31160231504957!3d27.73817598277922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
                          1s0x39eb1927888999d3%3A0xdebce8679954085f!2sGadgetsNepal!5e0!3m2!1sen!2snp!4v1517491577181"
                          width="1300" height="350" frameborder="0" style="border:0" allowfullscreen>
                          </iframe>
        
                          <section>
        
                </body>
              <footer>
                <div id="nap">
                  Gadgets Nepal, Copyright &copy; 2018
                </div>


</body>
</html>