{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GYM App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Qsn: not support, have to find out -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="{% static 'bootstrap/jquery/jquery.js' %}"> </script>
    <script type ="text/JavaScript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'bootstrap/js/query.js' %}"> </script>
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #00000093; border-width:14px;border-color:rgb(88, 88, 44);border-style:groove;border-spacing:30px;border-radius:5px;"class="navbar navbar-light">
        <div class="pos-f-t">
            <div class="dropdown-menu" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <a class="btn btn-outline-warning" href="{% url 'index' %}" >People Workout Images</a>
                <a href="{% url 'sachin' %}" class="btn btn-outline-warning" >Upload Workout Images</a>
                <a href="{% url 'admin:index' %}" class = 'btn btn-outline-warning' >Admin</a>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-yellow">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>    
            </nav>
          </div>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Home</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Gallery</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Service</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Schedule</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >OnlineCourse</a>
            <a class="btn btn-outline-warning" href="{% url 'index' %}" >Contact</a>
            <a class="btn btn-outline-warning" href="{% url 'hacker' %}" >Sign Up</a>
            <a class="btn btn-outline-warning" href="{% url 'freddie' %}" >Login </a>
            <a class="btn btn-outline-warning" href="{% url 'logout' %}" >Logout </a>
    </nav>

    <section class="Home">
        <div class="container">
      <h1><strong>  The Real Workout Starts
          <span>When You Want To Stop..</strong> </span>
      </h1>
                 </div>
        </section>
        <div class="container">
          <section class="home-about">
            <div class="home-about-textbox">
              <h1>What We Do</h1>
              <p>
                <strong>We provide  membership to our members especially for
                  those who don't have enough time to come at gym also provide 24/7 support
                  with our customer care. Also memebers can get different service
                according to their membership plan this choosed. </strong>
              </p>

            </div>


   </div>


   <section class="cta">

       <div class="container">
           <h1 class="title title-cta">If you are Gym lover
                <span>Then what are you waiting for, join us Today</span>
          <button  href ="Signuo.htm" class="btn btn-primary" style="color:White;  type="button" name="button" size="50">Sign Up</button>
           </h1>
           <a href="Gallery.html" class="button button-dark">See Our Workout Videos and Pictures</a>
       </div>
   </section>
</body>

<footer>
<div id="nap">
Gadgets Nepal, Copyright &copy; 2018
</div>

</footer>
</body>
</html>